<!DOCTYPE html>
<html>

<head>
    <title>Application Form</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div class="content">
        <div class="header">
            OJT Application Form
        </div>
        <div class="person-info">
            Personal Information
        </div>
        <div class="info clearFix">
            <div class="left-aside">
                <div class="name">Name</div>
                <div class="label">Profile Picture</div>
                <div class="label">Date of Birth</div>
                <div class="label add">Phone</div>
                <div class="label">Email
                </div>
                <div class="label add">Current Address</div>
                <div class="label add">HomeTown Address</div>
            </div>
            <div class="right-aside">
                <div class="bdr">
                    <form action="/hello/there">
                        <input type="text" name="name" class="txt-box">
                    </form>
                </div>
                <div class="bdr02">                  
                    <button type="button" class="upt-btn">Upload Profile</button>
                </div>
                <div class="bdr1">
                    <form action="/hello/there">
                        <input type="text" name="dob" class="txt-box">
                    </form>
                </div>
               
                <div id="GFG_DIV">
                    
                <div class="bdr03">  
                </div>
                 </div>
                 <div class="bdr03"> 
                 <input type="text" name="txt" class="txt">
                 <button type="button" class="min-btn" onClick="Delete()">-</button>
                 </div>
                 <div id="GFG_DIV">
                 <div class="bdr04">   
                 <input type="text" name="txt" class="txt">

                 <button type="button" class="pls-btn">+</button>
                 </div>
              </div>
                <div class="bdr1">
                    <form action="/hello/there">
                        <input type="text" name="email" class="txt-box">
                    </form>
                </div>
                <div class="bdr2">
                    <form action="/hello/there">
                        <textarea id="w3review" name="w3review" rows="2" class="txt-area">
                  </textarea>
                    </form>
                </div>
                <div class="bdr2">
                    <form action="/hello/there">
                        <textarea id="w3review" name="w3review" rows="2" class="txt-area">
                  </textarea>
                    </form>
                </div>
            </div>
        </div>


        <div class="edu-bdr"></div>
        <div class="edu">
            <p>Education Background</p>
        </div>
        <div class="edu-info clearFix">
            <div class="left-info">
                <div class="edu-lvl">Education Level</div>
                <div class="label">Diploma Name</div>
                <div class="label">Other Certificates</div>
                <div class="label skill">Programming Skill</div>
                <div class="label skill1">Language Skills </div>
            </div>
            <div class="right-info">
                <div class="bch clearFix"><span> Bachelor</span></div>
                <ul class="uni-list">
                    <li class="detail-list"> University</li>
                    <li class="detail-list">Year</li>
                    <li class="detail-list">Degree</li>
                </ul>
                <div class="bch-txt clearFix">
                    <ul>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                    </ul>

                </div>
                <div class="bch clearFix"><span> Master</span></div>
                <ul class="uni-list1">
                    <li class="detail-list"> University</li>
                    <li class="detail-list">Year</li>
                    <li class="detail-list">Degree</li>
                </ul>
                <div class="bch-txt clearFix">
                    <ul>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="bdr3">
                    <form action="/hello/there">
                        <input type="text" name="dev-name" class="txt-box1">
                    </form>
                </div>
                <div class="bdr4">
                    <form action="/hello/there">
                        <input type="text" name="other-certificate" class="txt-box2">
                    </form>
                </div>
                <ul class="uni-list2">
                    <li class="detail-list2"> Language</li>
                    <li class="detail-list2">Level</li>
                </ul>
                <div class="pro-skill clearFix">
                    <ul>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" value="Java" class="uni-txt">
                            </form>
                        </li>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" value="A" class="uni-txt">
                            </form>
                        </li>
                        <li id="GFG_DIV">
                        <button type="button" class="min-btn1" onClick='Delete()'>-</button>           
                        </li>

                    </ul>
                    <ul>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                        <li>
                            <form action="/hello/there">
                                <input type="text" name="name" class="uni-txt">
                            </form>
                        </li>
                        <li>
                        <button type="button" class="pls-btn1">+</button>           
                        </li>
                    </ul>                   
                </div>
                <div class="bch clearFix"><span> English</span></div>
                <div class="bdr-lan clearFix">
                    <form action="/hello/there">
                        <input type="text" name="name" class="lan-txt" value="Level">
                    </form>
                </div>
                <div class="bch clearFix"><span> Japan</span></div>
                <div class="bdr-lan clearFix">
                    <form action="/hello/there">
                        <input type="text" name="name" class="lan-txt" value="Level">
                    </form>
                </div>
                <div class="bch clearFix"><span>Other</span></div>
                <div class="bdr-lan clearFix">
                    <form action="/hello/there">
                        <input type="text" name="name" class="lan-txt" value="Level">
                    </form>
                </div>

            </div>

        </div>

        <div class="edu">
            <p>Experience</p>
        </div>
        <div class="exp clearFix">
            <div class="left-aside">
                <div class="name">Has Job Experience</div>
                <div class="label itn-info">Internship Info</div>
                <div class="label itn-info">Job Experience</div>
                <div class="label">Total Experience Years</div>
                <div class="label itn-info">Comment
                </div>

            </div>
            <div class="right-aside">
                <div class="bdr01">
                    <form action="/hello/there">
                        <input type="checkbox" name="Job" value="Job">
                    </form>
                </div>
                <div class="bdr2">
                <form action="/hello/there">
                    <textarea id="w3review" name="w3review" rows="2" class="txt-area">
              </textarea>
                </form>
            </div>
            <div class="bdr2">
            <form action="/hello/there">
                <textarea id="w3review" name="w3review" rows="2" class="txt-area">
          </textarea>
            </form>
        </div>
        <div class="bdr1">
                    <form action="/hello/there">
                        <input type="text" name="ph" class="txt-box">
                    </form>
                </div>
                <div class="bdr2">
                <form action="/hello/there">
                    <textarea id="w3review" name="w3review" rows="2" class="txt-area">
              </textarea>
                </form>
            </div>
            </div>
        </div>
        <footer>
        <div class="btn">
        <button type="button" onclick="alert('Are You Sure To Cancle?')" class="btn-res">Reset</button>
         <button type="button" onclick="alert('Good Luck!')" class="btn-sub">Submit</button>
       </div>
       </footer>
    </div>
	<script>
        var up = document.getElementById('GFG_UP');
        var down = document.getElementById('GFG_DOWN');
        var div = document.getElementById('GFG_DIV');
        up.innerHTML = "Click on button to remove the element.";

        function Delete() {
            div.parentNode.removeChild(div);
            down.innerHTML = "Phone No is removed.";
        }       
    </script>
    
</body>

</html>